.round-pic {
  width: 118px;
  padding: 10px;
  /* animation: moveRound infinite 7s ease-in; */
  border-radius: 68px;
}

.round-pic-div {
  /* height: 90px; */
  width: fit-content;
  float: left;
  margin-bottom: 60px;
}

@keyframes moveRound {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h5 {
  color: whitesmoke;
  font-size: 42px;
}
.top-heading {
  font-size: 25px;
  color: whitesmoke;
}

/* @media screen and(min-width: 992px) {
  .round-pic {
    width: 290px;
  }
} */
